@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

.SelectTrigger {
  outline: none !important;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 1;
  height: 4rem;
  width: 100%;
  gap: 5px;
  border: 2px solid;
  border-color: rgb(134 138 145 / 0.25);
  border-radius: 0.75rem;
  background-color: rgb(0 0 0 / 0.45);
  color: #adadad;
  font-family: 'Open Sans', sans-serif;
  outline: none !important;
}

.SelectTrigger:focus-within {
  --tw-border-opacity: 1;
  border-color: rgb(38 158 219 / var(--tw-border-opacity));
}

.SelectTrigger:hover {
  outline: none !important;
}
.SelectTrigger:focus {
  outline: none !important;
}
.SelectTrigger[data-placeholder] {
  color: #adadad;
  outline: none !important;
}

.SelectIcon {
  color: #adadad;
  outline: none !important;
}

.SelectContent {
  overflow: hidden;
  background-color: rgba(43, 43, 43, 0.95);
  border-radius: 0.75rem;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  outline: none !important;
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 14px;
  line-height: 1;
  color: #adadad;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
  outline: none !important;
}
.SelectItem[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none !important;
  background-color: #4d61fc;
  color: white;
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: #adadad;
}

.SelectSeparator {
  height: 1px;
  background-color: #4d61fc;
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none !important;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: #4d61fc;
  cursor: default;
}
